.banner{
    height: 100vh;
    display: flex;
   

background: rgba(229, 84, 115, 0.10);
padding:197px 97px 32px 240px ;

align-items: center;

}
.tittle{
    color: #272727;
    padding-left: 50px;
    font-size: 55px;
    font-weight: bolder;
   width: 100%;
   margin: auto;
 
  
   
   }
   
   .description{
    color: rgba(39, 39, 39, 0.60);
    padding-top: 10px;
    padding-right: 110px;
    font-family: Lato;
width: 60%;
margin: auto;
   }
.btn{
   
    height: auto;
    padding: 10px;
    margin: 30px;
    border-radius: 8px;
background: #E55473;
 
 
    
}
.featured{
    
    font-size: bold;
    text-align: center;
}
.it{
    color: rgba(39, 39, 39, 0.60); 
   text-align: center;
}
.feature{
    display: flex;
}
.second-flower{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
width: 464px;
height: 538px; 
margin: 24px;
}
.third-flower{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
width: 464px;
height: 538px;
margin: 24px;

}
.fourth-flower{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
width: 464px;
height: 538px;
margin: 24px;
}
.pink{
    text-align: center;
    margin: 155px;
}
.helpdesk{
    display: flex;
    margin-top: 80px;
    margin-left: 100px;
    width: 1300px;
height: 250px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}
.delivery{
    margin: 80px;
    width: 88px;
height: 88px;
margin-left: 200px;
}
.fresh{
    margin: 80px;
    width: 88px;
height: 88px;
margin-left: 220px;
}
.support{
    margin: 80px;
    width: 88px;
height: 88px;
margin-left: 220px;
}
.offer
{ 
    margin-top: 150px;
    width: 1922px;
height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
   
}
.details{
    
    padding-top: 300px;
    padding-left: 180px;
    font-size: 55px;
    font-weight: bolder;
   
   width: 100%;
   margin:auto;
  
}
.prim{
    color:#E55473 ;

}
.long{
    color: rgba(39, 39, 39, 0.60);
    padding-top: 10px;
    padding-right:400px;
    font-family: Lato;
width: 60%;
margin: auto;
   
}
.btn2{
   margin-top: 20px;
    margin-left: 300px;
  padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
}

.insta{

    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.page{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.media{
    display: flex;
}
.social{
    padding: 15px;
}
.email{
    width: 1440px;
height: 449px;
}